 <h1 style= "text-align:center">Your Wish List</h1>
<!-- <div *ngFor="let user of user">-->
<!--    <div *ngIf="(authService.user | async)?.email == user.email">-->
<!--        <div>Change Wish List Name</div>-->
<!--        <input type="text" [(ngModel)]="name" placeholder="name">-->
<!--        <button (click)="ChangeName($event,name)" class={{user._id}} >Change</button>-->
<!--        <div>Change Wish List Description</div>-->
<!--        <input type="text" [(ngModel)]="des" placeholder="Change Description">-->
<!--        <button (click)="ChangeDes($event,des)"  class={{user._id}} >Change</button>-->
<!--     </div>-->
<!--</div>-->

 
 <div *ngFor="let wish of wish">
     
     <ng-container *ngIf="wish.email == (authService.user | async)?.email">
         
    
         <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>Name: {{wish.name}}</div>
            </mat-expansion-panel-header>
            <h5>Collection Description: {{wish.descrip}}</h5>
            <div>This collection is: <span *ngIf="wish.access==true">Public</span> <span *ngIf="wish.access==false">Private</span></div>
            <div align="right">
                <select [(ngModel)]="access">
                <option value="true">Public</option>
                <option value="false">Private</option>
              </select>
              <button class={{wish._id}} (click)="editAccess($event,access)">Set Privacy</button>
            </div>
            
            <input type="text" placeholder="Edit Name" [(ngModel)]="name">
             <button class={{wish._id}} (click)="editName($event,name);">Okay</button>
            
            <input type="text" placeholder="Edit Description" [(ngModel)]="des">
            <button class={{wish._id}} (click)="editDes($event,des);">Okay</button>
            
            
            <div *ngFor="let userCollection of wish.userCollection">
                
                <div *ngIf="userCollection.quantity != 0">
                    <h5>{{userCollection.item}}</h5>
                    <div>Quantity: {{userCollection.quantity}}</div>
                    <div>Description: {{userCollection.des}}</div>
                </div>
            </div>
            <button align="right" type=button class="btn btn-primary"  id={{wish._id}} (click)="setDeleteBtn($event);clickMethod(wish.name);">Delete me</button>
          </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
</div>



